/* override bootstrap styles
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
} */

body {
    background-image: url(/images/bg.jpg);
   background-size: cover;
    position: relative;
    /* max-width: 800px; Maximum width */
    margin: 0 auto; /* Center it */
    width: 100%;
    height: 130vh;
  }
  
  #heads {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    margin-top: 6%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    height: 12vh;
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
     padding: 20px; /*Some padding */ 
  }
  #quote{
  color:white;
  margin-top: 30%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  }
  .navbar{
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    height: 13.5vh;
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    font-family: cursive;
   font-size: large;
  }
  .navbar a{
    color:white;
  }
  
  #heads{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  footer {
    margin-top:40px;
    padding-top:40px;
    padding-bottom:40px;
   
  }
  #books1, #books2{
    background: rgb(17, 17, 17); /* Fallback color */
    background: rgba(19, 18, 18, 0.5); /* Black background with 0.5 opacity */
    color: white;
  }
  #books1 a{
    color: white;
  }
  #books2 a{
    color: white;
  }
  h4{
    color: white;
  }
  #novel{
    background: rgb(17, 17, 17); /* Fallback color */
    background: rgba(19, 18, 18, 0.5); /* Black background with 0.5 opacity */
    color: white;
    font-family: cursive;
    width: 90%;
    margin-left: 3%;
    height: 7vh;
  }
  #members{ 
    text-align: center;
    font-family: cursive;
  }
  #members p{
    font-size: medium;
  }
  #fb{
   font-size: xx-large;
  }
  #twitter{
    font-size: xx-large;
   }
   #insta{
    font-size: xx-large;
   }
  #booksdetail{
    text-align: center;
    font-family: cursive;
  }
  #booksection{
    background: rgb(17, 17, 17); /* Fallback color */
    background: rgba(19, 18, 18, 0.5); /* Black background with 0.5 opacity */
  }
  #novel{
    color: white;
    text-align: center;
    font-family: cursive;
  }
  @media screen and (min-width: 768px) {
    #masthead h1 {
      font-size: 80px;
    }
  }
  
  